#jinja2: lstrip_blocks: "True", trim_blocks: "True"
{% if (ansible_memtotal_mb * 0.5 / 1024) | round | int >= 31 %}
-Xms32g
-Xmx32g
{% else %}
-Xms{{ (ansible_memtotal_mb * 0.5 / 1024) | round | int }}g
-Xmx{{ (ansible_memtotal_mb * 0.5 / 1024) | round | int }}g
{% endif %}
