---
# update conf | template | kafka_conf
- name: update conf | template | kafka_conf
  template:
    src: "{{ item.src }}"
    dest: "{{ item.dest }}"
    owner: "{{ item.owner }}"
    group: "{{ item.group }}"
    mode: "{{ item.mode }}"
  with_items:
    - "{{ kafka_conf }}"
  when: kafka_conf is defined
  # notify:
  #   - <notify_name>

# update conf | custom | kafka_conf
- name: update conf | custom | kafka_conf
  copy:
    src: "{{ item.src }}"
    dest: "{{ item.dest }}"
    owner: "{{ item.owner }}"
    group: "{{ item.group }}"
    mode: "{{ item.mode }}"
  with_items:
    - "{{ kafka_conf_custom }}"
  when: kafka_conf_custom is defined
  # notify:
  #   - <notify_name>
