#jinja2: lstrip_blocks: "True", trim_blocks: "True"
{% for i in groups[group_names[0]] %}
{{ hostvars[i]['ansible_default_ipv4']['address'] }} {{ hostvars[i]['ansible_hostname'] }}
{% endfor %}
{# externalHosts #}
{% if externalHosts is defined %}
    {% for i in externalHosts %}
        {{- i }}
    {% endfor %}
{% endif %}
