#jinja2: lstrip_blocks: "True", trim_blocks: "True"
[Unit]
Description=MongoDB Database Server
Documentation=https://docs.mongodb.org/manual
After={{ item.info.Unit.After | default('network.target') }}

[Service]
User=mongod
Group=mongod
Environment="{{ item.info.Service.Environment.OPTIONS | default('OPTIONS=-f /etc/mongod.conf') }}"
EnvironmentFile=-/etc/sysconfig/mongod
ExecStart={{ item.info.Service.ExecStart | default('/usr/bin/mongod $OPTIONS') }}
{# ExecStartPre #}
{% if item.info.Service.ExecStartPre %}
    {% for i in item.info.Service.ExecStartPre %}
ExecStartPre={{ i }}
    {% endfor %}
{% else %}
ExecStartPre=/usr/bin/mkdir -p /var/run/mongodb
ExecStartPre=/usr/bin/chown mongod:mongod /var/run/mongodb
ExecStartPre=/usr/bin/chmod 0755 /var/run/mongodb
{% endif %}
{# end of ExecStartPre #}
PermissionsStartOnly=true
PIDFile={{ item.info.Service.PIDFile | default('/var/run/mongodb/mongod.pid') }}
Type=forking
# file size
LimitFSIZE=infinity
# cpu time
LimitCPU=infinity
# virtual memory size
LimitAS=infinity
# open files
LimitNOFILE=64000
# processes/threads
LimitNPROC=64000
# locked memory
LimitMEMLOCK=infinity
# total threads (user+kernel)
TasksMax=infinity
TasksAccounting=false
# Recommended limits for for mongod as specified in
# http://docs.mongodb.org/manual/reference/ulimit/#recommended-settings

[Install]
WantedBy=multi-user.target
