#jinja2: lstrip_blocks: "True", trim_blocks: "True"
{% if item.info.jvmflags is defined %}
export JVMFLAGS="{{ item.info.jvmflags }}"
{% else %}
export JVMFLAGS="-Xmx{{ (ansible_memtotal_mb * 0.75) | round | int }}m -Xms{{ (ansible_memtotal_mb * 0.75) | round | int }}m"
{% endif %}
